<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Search Bar</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrappler">
        <header>
            <h1>SQL Search Bar</h1>
            <p>
                <a href="#">Home</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            </p>
        </header>
        <div class="section">
        <div class="panel">

            
        <!-- </div> -->
        <!-- </div>-->
        <!-- </div> -->
        <!-- </body> -->
        <!-- </html> -->