<%- include('partials/header.ejs') %>

    <div class="search-bar-area">
        <form class="search-bar" action="/posts/" method="POST">
            <input type="text" name="termo" id="termo">
            <button type="submit">></button>
            <button type="button">+</button>
        </form>
    </div>

    <div class="list-area">
        <div class="list">
            <p>Resultados</p>
            <hr style="width: 90%;">
            <% pesquisa.forEach(item=> { %>
                <p>
                    <%= item.titulo %>
                </p>
                <% }) %>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>