<%- include('partials/header.ejs') %>

    <div class="search-bar-area">
        <form class="search-bar" action="#" method="POST">
            <input type="text">
            <button type="button">></button>
            <button type="button">+</button>
        </form>
    </div>

    <div class="list-area">
        <p>text</p>
    </div>

    <%- include('partials/footer.ejs') %>