<%- include('partials/header.ejs') %>

    <div class="search-bar-area">
        <form class="search-bar" action="#" method="POST">
            <input type="text">
            <button type="button">></button>
            <button type="button">+</button>
            <a href="/clientes/">teste</a>
        </form>
    </div>

    <div class="list-area">
        <div class="list">
            <p>text</p>
            <p>text</p>
        </div>
    </div>  

    <%- include('partials/footer.ejs') %>